body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.RhymeBrainResult, .RhymeBrainHeader, #nowordsfound {
display: none;
}

#AcronymInput {
height: 100px;
font-size: 32px;
font-family: 'Courier', monospace;
margin-bottom: 20px;
text-align: center;
max-width: 60%;
text-transform: uppercase;
color: #000;
}

@media only screen and (max-width: 500px) {
#RhymeBrainInput {
font-size: 16px;
}
}


.jumbotron {
background-color: #00c1c6;
min-height: 500px;
margin: 30px 0px 10px 0px;
}

.btn {
background-color: #e22967;
border: none;
}
.btn:hover, .btn:active, .btn:focus, .btn:visited, #random:active {
background-color: #ec598a;
}

.jumbotron h1, h2, h3, h4, h5, h6, p, input.btn {
color: #fff4cc;
font-family: 'Architects Daughter', Helvetica, sans-serif;
}

#opencard {
color: #fff;
}
.jumbotron h1 {
font-size: 4em;
}
.footertext {
color: #AAA;
text-align: center;
font-size: 12px;
}

.footertext a {
color: #00c1c6;
}

.container-narrow > hr {
margin: 10px 0px 20px 0px;
}

h3#response.notfound {
font-size: 12px;
color: #DDD;
}

h3#response.notfound a {
font-size: 13px;
color: #EEE;
}

#random {
max-width: 60%;
width: 420px;
height: 40px;
padding: 0px;
font-size: 14px;
}

p#definition {
font-size: 18px;
font-style: italic;
}
